.container {
    width: 48%;
}

.imageContainer, .imageContainer img {
    border-radius: .8rem;
}

.imageContainer {
    height: 130px;
}

.imageContainer img {
    object-fit: cover;
}

.button {
    background-color: #97979794;
    height: 30px;
    right: 5px;
    top: 5px;
    width: 30px;
}