.trendingList {
    height: 180px;
    transition: transform 1.5s ease;
}

@media screen and (min-width: 420px) {
    .trendingList {
        height: 220px;
    }
}

@media screen and (min-width: 710px) {
    .trendingList {
        height: 240px;
    }
}